[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
boto3 = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]
pytest-flask = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.9"
